<div class="boxes-wrapper">
  <div class="container">
    <mat-grid-list cols="3" gutterSize="3px" rowHeight="100px">
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-icon mat-card-avatar color="accent">camera_enhance</mat-icon>
            <mat-card-title>Artisanal</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <span>
              Individually Crafted
            </span>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-icon mat-card-avatar color="accent">pan_tool</mat-icon>
            <mat-card-title>Hand Made</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <span>
             For a Variety of Skin Types
            </span>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-icon mat-card-avatar color="accent">nature</mat-icon>
            <mat-card-title>Natural</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <span>
              With Nourishing Ingredients
            </span>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
