<div>

  <mat-card class="mat-elevation-z6">
    <mat-card-content>
      <table>
        <tr>
          <td class="description">Subtotal</td>
          <td class="price">{{33 | currency}}</td>
        </tr>
        <tr>
          <td class="description">Promo - 6 for {{30 | currency}}</td>
          <td class="price">{{-3 | currency}}</td>
        </tr>
        <tr>
          <td class="description">Total</td>
          <td class="price">{{30 | currency}}</td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>


</div>
